.cardWrapper {
  width: 454px;
  height: 547px;
  margin: 0 auto;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -3px 8px 24px rgba(0, 0, 0, 0.23);
  border-radius: 24px;
}

.button {
  width: 226px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 12px;
  outline: none;
  background: #ebd8ff;
  line-height: 1.2;
  color: #373737;

  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.buttonFollow {
  background: #5cd3a8;
}

.imageWrapper {
  position: relative;
  padding-top: 34px;
}

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  opacity: 0.3;
}

.avatarContainer {
  height: 92px;
  width: inherit;
  position: relative;
  display: flex;
  align-items: center;
}

.line {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), inset 0px -2px 4px #ae7be3,
    inset 0px 4px 3px #fbf8ff;
}

.avatarWrapper {
  position: relative;
  width: 92px;
  height: 92px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 5.11111px 5.11111px rgba(0, 0, 0, 0.06),
    inset 0px -2.55556px 5.11111px #ae7be3,
    inset 0px 5.11111px 3.83333px #fbf8ff;
  background: #ebd8ff;
  right: calc(-50% + 46px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarBackground {
  width: 72px;
  height: 72px;
  background-color: #5736a3;
  border-radius: 50%;
}

.avatar {
  margin: 0 auto;
}
